.deal {
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1100px) {
      flex-direction: column;
      .deal-left {
        order: 2;
        margin-bottom: 24px;
      }
      .deal-right {
        order: 1;
      }
    }
  }
  &-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 24px;
    flex: 1;
    img {
      width: 80%;
      @media (max-width: 676px) {
        width: 100%;
        margin-top: 24px;
      }
    }
  }
  &-right {
    flex: 1;
  }
}
